<header>
  <%= link_to notes_path, class: 'text-gray-400' do %>
    &larr; Back
  <% end %>
  <div class='flex justify-between items-center'>
    <h1 class='text-2xl font-bold'><%= @note.title %></h1>
    <%= link_to 'Edit note', edit_note_path(@note), class: 'px-3 py-1.5 border border-gray-200 rounded-md' %>
  </div>
</header>

<p class='mt-4'><%= @note.body %></p>