<h1 class="text-2xl font-bold">Welcome to the homepage!</h1>

<div class='mt-4'>
  <%= link_to 'Items', items_path, class: 'px-3 py-1.5 bg-indigo-600 text-white rounded-md' %>
  <%= link_to 'Notes', notes_path, class: 'ml-4 px-3 py-1.5 text-indigo-600 bg-indigo-100 rounded-md' %>
</div>